<html>
	<head>
		<link rel="icon" href="/static/image/logo.jpg">
		<title>注销</title>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<meta http-equiv="refresh" content="5;url=http://localhost:8000/">
		<SCRIPT LANGUAGE="JavaScript">
			<!--
			var time="5";
			function count(){
				setTimeout("count()",1000);
				rest.innerHTML=time; 
				time--;
			}
			//-->
		</SCRIPT>
	</head>
	<body onLoad="window.setTimeout('count()',1)" background="/static/image/3.jpg"> 
		<div class='ihave'>
			<p>退出成功</p>
			<p>系统将在<span id="rest" style="color:#FF0000"></span>秒后自动返回！</p>
		</div>
	</body>
</html>